.benefit-1 {
  height: 41rem;
  width: 90%;
  margin: auto;
  border-radius: 1rem;
  position: relative;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  line-height: $line-height-mobile;
  &__text {
    width: 16.25rem;
    margin: auto;
    padding: 2.68rem 0;
    h2 {
      margin: 0;
      line-height: 2rem;
      color: $black;
    }
    a {
      color: $dark-font;
      text-decoration: underline;
    }
  }
  &__img {
    img {
      position: absolute;
      bottom: 0;
      left: 50%;
      right: 0;
      width: 100%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }
  }
}
