.benefit-2 {
  width: 90%;
  line-height: $line-height-mobile;
  margin: 2.81rem auto 0 auto;
  &__text {
    h2 {
      margin: 0;
      line-height: 2rem;
      color: $black;
    }
    a {
      color: $dark-font;
      text-decoration: underline;
    }
  }
  &__img {
    margin-top: 1rem auto;
    width: 90%;
    img {
      width: 100%;
      // width: 20rem;
      height: auto;
    }
  }
}
