@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap");
@import "variables";
@import "mixins";

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  font-family: "Cabin", sans-serif;
  color: $dark-font;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  list-style: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: $dark-white;
}

// Flexbox
.flex {
  display: flex;
}

@each $class, $fb-d in $fb-direction {
  .f-d-#{$class} {
    flex-direction: #{$fb-d};
  }
}

@each $class, $fb-jc in $fb-align {
  .f-jc-#{$class} {
    justify-content: #{$fb-jc};
  }
}

@each $class, $fb-ai in $fb-align {
  .f-ai-#{$class} {
    align-items: #{$fb-ai};
  }
}

// visibility
.hide-for-mobile {
  @include breakpoint-down(small) {
    display: none;
  }
}
.hide-for-desktop {
  @include breakpoint-up(medium) {
    display: none;
  }
}

.readjast-for-tablet {
  @include breakpoint-down(medium) {
    .header__logo {
      flex: 2;
    }
    .header__links,
    .header__cta {
      flex: 2;
      text-align: right;
    }
  }
}

// spacing
.container {
  width: 100%;
  padding: 2.5rem 1rem;
}

// buttons
.button {
  padding: 1.56rem 1.75rem;
  background: $black;
  margin-left: 1.75rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  outline: none;
  border: none;
  color: $dark-white;
  font-weight: 600;
  &:hover {
    opacity: 0.75;
    outline: none;
  }
}
