.header {
  nav {
    padding: 2.3rem 1rem;
    height: 5.75rem;
  }
  &__promo {
    width: 100%;
    background: $black;
    text-align: center;
    padding: 1.18em 1.43em;
    color: $dark-white;

    a.underline {
      text-decoration: underline;
      color: $dark-white;
    }
  }
  &__logo {
    font-size: 1rem;
    font-weight: 600;
    color: $black;
    &:visited,
    &:focus {
      color: $black;
    }
  }
  &__menu {
    text-align: right;
    i {
      color: $black;
      font-size: 1.2rem;
    }
  }
  //   desktop
  &__links {
    padding: 0;
    margin: 0;
    li {
      display: inline;
      position: relative;
      a {
        color: $black;
        transition: color 0.2s ease-in-out;
        -webkit-transition: color 0.2s ease-in-out;
        -moz-transition: color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out;
        -o-transition: color 0.2s ease-in-out;
        &:hover {
          color: lighten($black, 30%);
        }

        &::before {
          content: "";
          position: absolute;
          bottom: -1rem;
          left: 50%;
          right: 0;
          height: 3px;
          background: $dark-font;
          width: 0;
          border-radius: 2px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          -ms-border-radius: 2px;
          -o-border-radius: 2px;
          transition: 0.4s;
          -webkit-transition: 0.4s;
          -moz-transition: 0.4s;
          -ms-transition: 0.4s;
          -o-transition: 0.4s;
        }
        &.active::before {
          width: 100%;
          left: 0;
        }
      }
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
  &__cta {
    a.login {
      color: $black;
    }
    .button {
      padding: 1.56rem 1.75rem;
      background: $black;
      margin-left: 1.75rem;
      border-radius: 0.2rem;
      -webkit-border-radius: 0.2rem;
      -moz-border-radius: 0.2rem;
      -ms-border-radius: 0.2rem;
      -o-border-radius: 0.2rem;
    }
  }
}
