.header {
  nav {
    padding: 2.3rem 1rem;
    height: 5.75rem;
    display: flex;
    align-items: center;
  }
  &__promo {
    width: 100%;
    background: $black;
    text-align: center;
    padding: 1.18em 1.43em;
    color: $dark-white;

    a.underline {
      text-decoration: underline;
      color: $dark-white;
    }
  }
  &__logo {
    font-size: 1rem;
    font-weight: 600;
    color: $black;
    &:visited,
    &:focus {
      color: $black;
    }
  }
  &__menu {
    text-align: right;
    span {
      height: 3px;
      width: 1.5rem;
      background: $black;
      border-radius: 0.1rem;
      display: block;
      transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transform-origin: 0.5rem 0.1rem;
      -webkit-border-radius: 0.1rem;
      -moz-border-radius: 0.1rem;
      -ms-border-radius: 0.1rem;
      -o-border-radius: 0.1rem;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
    .overlay {
      position: absolute;
      visibility: hidden;
      top: 12.5rem;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient($black, transparent);
    }
    &.open {
      span {
        margin: 0;
      }
      span:nth-of-type(1) {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
      }
      span:nth-of-type(2) {
        opacity: 0;
      }
      span:nth-of-type(3) {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
      }

      .overlay {
        visibility: visible;
      }
    }
  }
  //   desktop
  &__links {
    padding: 0;
    margin: 0;
    li {
      display: inline;
      position: relative;
      a {
        color: $black;
        transition: color 0.2s ease-in-out;
        -webkit-transition: color 0.2s ease-in-out;
        -moz-transition: color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out;
        -o-transition: color 0.2s ease-in-out;
        &:hover {
          color: lighten($black, 30%);
        }

        &::before {
          content: "";
          position: absolute;
          bottom: -1rem;
          left: 50%;
          right: 0;
          height: 3px;
          background: $dark-font;
          width: 0;
          border-radius: 2px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          -ms-border-radius: 2px;
          -o-border-radius: 2px;
          transition: 0.4s;
          -webkit-transition: 0.4s;
          -moz-transition: 0.4s;
          -ms-transition: 0.4s;
          -o-transition: 0.4s;
        }
        &.active::before {
          width: 100%;
          left: 0;
        }
      }
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
  &__cta {
    a.login {
      color: $black;
    }
    .button {
      padding: 1.56rem 1.75rem;
      background: $black;
      margin-left: 1.75rem;
      border-radius: 0.2rem;
      -webkit-border-radius: 0.2rem;
      -moz-border-radius: 0.2rem;
      -ms-border-radius: 0.2rem;
      -o-border-radius: 0.2rem;
      transition: opacity 0.4s;
      -webkit-transition: opacity 0.4s;
      -moz-transition: opacity 0.4s;
      -ms-transition: opacity 0.4s;
      -o-transition: opacity 0.4s;
      &:hover {
        opacity: 0.75;
      }
    }
  }
}
