@include breakpoint-up(medium) {
  .logos {
    padding: 3rem 0;
    img {
      width: 15%;
      height: auto;
    }
  }
  .hero {
    .container {
      padding-bottom: 3.68rem;
    }
  }
  .benefit-1 {
    height: 43rem;
    &__text {
      width: 71%;
      padding: 4.5rem 0;
    }
  }
}
