@include breakpoint-up(medium) {
  .logos {
    padding: 3rem 0;
    img {
      width: 15%;
      height: auto;
    }
  }
  .hero {
    line-height: $line-height-tablet;
    .container {
      padding-bottom: 3.68rem;
      h1 {
        line-height: 2rem;
        font-size: 1.8rem;
      }
    }
  }
  .benefit-1 {
    // height: 43rem;
    &__text {
      width: 71%;
      padding: 4.5rem 0;
    }
  }
  .benefit-2 {
    width: 90%;
    line-height: $line-height-tablet;
    margin: 3.6rem auto 0 auto;
    &__img {
      margin-top: 4.125rem;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
