// flexbox
$fb-align: (
  "c": center,
  "sb": space-between,
  "sa": space-around,
  "fs": flex-start,
  "fe": flex-end,
);
$fb-direction: (
  "r": row,
  "c": column,
);

// colors
$black: hsl(0, 0, 0);
$dark-gray: hsl(140, 2%, 72%);
$dark-white: hsl(0, 0, 95%);
$dark-header-font: hsl(0, 0%, 16%);
$dark-font: hsl(44, 14%, 31%);
